UL{
	MARGIN:0PX;
	PADDING:0PX;
	LIST-STYLE:NONE;
	
}
UL LI {
        float:left;
	margin:2px;
	WIDTH:185PX;
	HEIGHT:39PX;
	top:20px;
	bottom:20px;
	BACKGROUND-COLOR:BLACK;
	OPACITY:.88;
	LINE-HEIGHT:40PX;
	TEXT-ALIGN:CENTER;
	FONT-SIZE:20PX;
	MARGIN-down:5PX;
	background: rgba(0,0,0,.5);
}
UL LI A{
TEXT-DECORATION:NONE;
COLOR:WHITE;
DISPLAY:BLOCK;
}
UL LI A:HOVER{
	BACKGROUND-COLOR:GREEN;
}